@page
@model HomeElectric.Pages.Staff.OrderManager.DetailsModel
@{
    ViewData["Title"] = "Details";
    Layout = "StaffLayout";
}

<h1>Details</h1>

<div class="container" style="margin-top: 100px;">
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.TotalPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.TotalPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.CreationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.CreationDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.ModificationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.ModificationDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.DeletionDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.DeletionDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.IsDeleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.IsDeleted)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.User.Id)
        </dd>
    </dl>
    <h2>Order Details</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var detail in Model.OrderDetails)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => detail.Product.ProductName)</td>
                    <td>@Html.DisplayFor(modelItem => detail.Quantity)</td>
                    <td>@Html.DisplayFor(modelItem => detail.Price)</td>
                    <td>@Html.DisplayFor(modelItem => detail.Quantity)</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="container" style="margin-top: 100px;">
    <a asp-page="./Edit" asp-route-id="@Model.Order?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
